<template>
    <div class="col-12">
<div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width: 84%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
      props: ['productID'],
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters(["error", "success"])
  },
  methods: {
    ...mapActions({
    }),

  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      this.$router.push({
        name: `smartphones/${productID}`
      });
    },
    error() {
      this.$emit('changeTitle', this.error.message);
    }
  },
};
</script>

<style>

</style>
