<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania pamięci flash</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="size">Rozmiar pamięci</label>
            <input type="text" data-pattern="^[0-9]{1,4}$" @input="validField(memory.size,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj rozmiar pamięci" v-model="memory.size">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.size}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj pamięć</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
  export default {
    data() {
      return {
        valid: false,
        errors: {
          size: "Podaj rozmiar pamięci!",
        },

        INVALID: INVALID,
        VALID: VALID,
        UNTESTED: UNTESTED
      };
    },
    computed: {
      ...mapGetters(["memory", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
    },
    missingText: function () {
      return true;
    },
    methods: {
      ...mapActions({
        downloadMemories: "memory",
        addMemory: "storeMemory",
        updateMemory: "updateMemory",
        validFormField: "validFormField",
        prepareArray: "prepareArray",
        validateForm: 'validateForm'
      }),
      validField(name, inputsNumber, inputNumber, event) {
        this.validFormField([
          name,
          inputsNumber,
          inputNumber,
          event.target.attributes["data-pattern"].value
        ]);
      },
      checkFormBeforeSubmit() {
        this.validateForm();
        if (this.validationPassed === true)
          this.addMemory(this.memory);
      }
    },
    watch: {
      refresh() {
        this.$emit('changeResponseTitle', this.success);
        this.$router.push({
          name: 'memories'
        });
      },
      error() {
        this.$emit('changeTitle', this.error.message);
      }
    },
    created() {
      this.prepareArray([1, UNTESTED]);
    }
  };
</script>

<style>
</style>
