body
{
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-weight: 550;
    font-size: 12pt;
    position: relative;
    color: #000;
    line-height: 1.3;
    font-family: "Lato";

}
