.container-footer {
    bottom: 0;
    width: 100%;
    padding:0 !important;
    margin:0 !important;
    //margin-top:auto;
    color: white;
    text-align: center;
    height: 5rem;
    background-color: #343a40;
    position:absolute;
    top:100%;

}

.container-footer > .row {
    padding:0;
    margin:0;
}