.register-container {
  //margin-top: 4rem;
  margin-bottom:2rem;;
  background-color: #eff2f7;
}

.register-form {
  padding: 2rem;
}

.error {
  background-color: rgb(255, 80, 80) !important;
}

.success {
  background-color: rgb(2, 182, 2) !important;
}

.error-message {
  font-size: 13pt;
  color: firebrick;
}

.form-group {
  input {
    padding: 1.4rem;
    font-size: 12pt;
    margin-bottom: 0.5rem;
  }
  label {
    color: black;
    text-shadow: 1px 1px 1px $darkGray;
    text-transform: uppercase;
  }
}

.form-control {
  background-color: rgb(209, 209, 209);
  border-radius: 0;
  width:100%;
  height: calc(2.25rem + 4px);
  font-size: 10.5pt;
  &:focus {
    outline: none;
    border: 2px solid $darkGray;
  }
}

thead, tbody
{

  .row
  {
    margin-left:0;
    margin-right:0;
  }

}
.form-control::-webkit-input-placeholder {
  color: $strongBlue;
  opacity: 0.7;
}

.form-control::-moz-placeholder {
  color: $strongBlue;
  opacity: 0.7;
}

.form-control::-ms-input-placeholder {
  color: $strongBlue;
  opacity: 0.7;
}
