<template>
  <div class='users'>
    <table class='table table-dark'>
      <thead class="thead-light">
        <tr>
          <th @click="sort('id',0)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">ID</span>
          </th>
          <th @click="sort('name',1)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Nazwa
              tagu</span>
          </th>
          <th @click="sort('created_at',2)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[2] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Utworzono</span>
          </th>
          <th @click="sort('updated_at',3)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Edytowano</span>
          </th>
          <th scope="col">
            Edytuj
          </th>
          <th scope="col">
            Usuń
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tag in paginatedData" :tags="tags" :key="tag.id">
          <td scope="row" v-for="(item,index) in tag" v-bind:key="index">{{ item }} </td>
          <td>
            <router-link :to="{path: `tags/${tag.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td>
            <button class='btn btn-secondary btn-list' @click="deleteSelectedTag(tag.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div :key="pageNumber" id="pagination-container-list">
      <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </button>
      <b>{{pageNumber+1}} .. {{pageCount+1}} </b>
      <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    }
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["tags", "success", "refresh", "order", "orderIcons"]),
    pageCount() {
      let l = this.tags.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.tags.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadTags: "tags",
      deleteTag: "deleteTag",
      sortList: "sortList",
      prepareOrderIcons: "prepareOrderIcons"
    }),
    deleteSelectedTag(id) {
      this.deleteTag(id);
    },
    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.tags]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadTags();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.tags.reverse();
    }
  },
  created() {
    this.downloadTags();
    this.prepareOrderIcons(4);
  }
};
</script>
 
<style>
</style>
 