<template>
  <div id=" basket-list" class="container register-container">
    <div class='row col-lg-12 products-list-header text-center'>
      <div class="col-lg-4">
        <span class="product-name-header">Nazwa produktu</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header">Ilość</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header">Cena</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header">Razem</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header">Usuń ze zlecenia</span>
      </div>
    </div>
    <div class='row products-list-body col-lg-12 text-center' v-for="product in order.products" :key="product.id">
      <div class="col-lg-4">
        <span class="product-name-header">
          <router-link :to="{path: `/smartphones/${product.id}`}">{{product.manufacturer.name}} {{product.name}}</router-link>
        </span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header"> {{product.pivot.count}} szt.</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header">{{(product.price * 1) | toFixed(2) | toPLN}}</span>
      </div>
      <div class="col-lg-2">
        <span class="product-name-header"> {{(product.price * product.pivot.count) | toFixed(2) | toPLN}}</span>
      </div>
      <div class="col-lg-2">
        <button class=' product-name-header remove-btn' @click="deleteSelectedProductFromOrder(order.id, product.id)">Usuń</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      productsToDeleteFromOrder: '',
      totalPrice: 0.00,
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["productCount", "payments", "payment", "order", , "refresh", "error", "success"]),
    calcTotalPrice() {
      let totalPrice = 0;
      this.order.products.forEach(function (product) {
        totalPrice += product.pivot.count * product.price;
      });
      this.order.total_price = totalPrice;
      return totalPrice;
    },
  },
  missingText: function () {
    return true;
  },
  methods: {
    ...mapActions({
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      validSelectFormField: "validSelectFormField",
      removeProduct: "removeProductFromOrder",
      getOrder: "order",
      getPayments: "payments",
      editOrder: "updateOrder"
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validSelectField(inputsNumber, inputIndex, event) {
      this.validSelectFormField([inputsNumber, inputIndex, event.target]);
    },
    deleteSelectedProductFromOrder(orderID, productID) {
      this.removeProduct([orderID, productID]);
    },
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      this.getOrder(this.$route.params.id);
    },
  },
  created() {
    this.prepareArray([1, UNTESTED]);
    this.getOrder(this.$route.params.id);
    this.getPayments();

  }
};
</script>

<style scoped>
.remove-btn
{
  color:red;
}

.remove-btn:hover
{
  color:rgb(184, 0, 0);
  text-decoration: underline;
}
.checkout-summary {
  margin-top: 1rem;
  padding: 1rem;
}

.form-group>select {
  padding: 1.4rem;
  font-size: 12pt;
  margin-bottom: 0.5rem;
}

.price-summary {
  margin-left: 0;
  color: black;
  margin-left: .5rem;
  padding: 1rem;
  text-align: left;
}

.summary {
  border-top: 1px solid lightgray;
}
.products-list-header {
  margin-bottom:1rem;
}
</style>
