<template>
  <div id=" basket-list" class="container register-container">
    <div class='row products-list-header text-center'>
      <div class='col-12 checkout-summary'>
        <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
          <div class="form-group col-12">
            <label for="status">Edytuj status zamówienia</label>
          </div>
          <div class="form-group col-12">
            <select id="status" class="form-control col-12" v-model="order.status" name="status" data-pattern="^([a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{3,}\s*[a-zA-ZZąćęłńóśźżĄĆĘŁŃÓŚŹŻ0-9]{1,})$"
              @change="validSelectField(inputsNumber,0,$event)" :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}"
              autofocus>
              <option value="przyjęto">
                przyjęto
              </option>
              <option value="zakończono">
                zakończono
              </option>
              <option value="w trakcie realizacji">
                w trakcie realizacji
              </option>
            </select>
          </div>
          <transition name="fade">
            <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.status}}</span>
          </transition>
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark btn-list">Edytuj status</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED,
      valid: false,
      errors: {
         status: "Wybierz status zamówienia!",
      },
    };
  },
  computed: {
    ...mapGetters(["productCount", "payments", "payment", "inputsNumber", "validationPassed", "order", , "refresh", "error", "success"]),
  },
  methods: {
    ...mapActions({
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      validSelectFormField: "validSelectFormField",
      getOrder: "order",
      getPayments: "payments",
      updateOrderStatus: "updateOrderStatus"
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validSelectField(inputsNumber, inputIndex, event) {
      this.validSelectFormField([inputsNumber, inputIndex, event.target]);
    },
         checkFormBeforeSubmit() {
       this.validateForm();
       if (this.validationPassed === true)
         this.updateOrderStatus([this.order.id, this.order]);
       else
         alert("Błąd");
     },
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
        this.$router.push({
         name: 'orders'
        });
    },
  },
  created() {
    this.prepareArray([1, UNTESTED]);
    this.getOrder(this.$route.params.id);
  }
};
</script>

<style scoped>
.remove-btn
{
  color:red;
}

.remove-btn:hover
{
  color:rgb(184, 0, 0);
  text-decoration: underline;
}
.checkout-summary {
  margin-top: 1rem;
  padding: 1rem;
}

.form-group>select {
  font-size: 12pt;
  margin-bottom: 0.5rem;
  padding-bottom:0;
  padding-top:0;
  width:30rem;
  margin-left:auto;
  margin-right:auto;
}

.price-summary {
  margin-left: 0;
  color: black;
  margin-left: .5rem;
  padding: 1rem;
  text-align: left;
}

.summary {
  border-top: 1px solid lightgray;
}
.products-list-header {
  margin-bottom:1rem;
}
</style>
