<template>
  <div class='users'>
    <table class='table table-dark'>
      <thead class="thead-light">
        <tr class="row">
          <th class="col-lg-1 col-md-3 col-sm-4" @click="sort('id',0)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Numer zamówienia</span>
          </th>
          <th class="col-lg-2 col-md-3 col-sm-4" @click="sort('created_at',1)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Utworzono</span>
          </th>
          <th class="col-lg-2 col-md-3 col-sm-4" @click="sort('status',2)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Status</span>
          </th>
          <th class="col-lg-2 col-md-3 col-sm-4" @click="sort('payment.method',3)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Typ płatności</span>
          </th>
          <th class="col-lg-2 col-md-3 col-sm-4" @click="sort('total_price',4)" scope="col">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Wartość</span>
          </th>
          <th class="col-lg-1 col-md-3 col-sm-4" scope="col">
            Edytuj
          </th>
          <th class="col-lg-1 col-md-3 col-sm-4" scope="col">
            Usuń
          </th>
          <th class="col-lg-1 col-md-3 col-sm-4" scope="col">
            Zmień status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" v-for="order in paginatedData" :key="order.id">
          <td class="col-lg-1 col-md-3 col-sm-4">{{order.id}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4">{{order.created_at}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4">{{order.status}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4">{{order.payment.name}}</td>
          <td class="col-lg-2 col-md-3 col-sm-4">{{order.total_price | toFixed(2) | toPLN}}</td>
          <td class="col-lg-1 col-md-3 col-sm-4">
            <router-link :to="{path: `orders/${order.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td class="col-lg-1 col-md-3 col-sm-4">
            <button class='btn btn-list btn-danger' @click="deleteSelectedOrder(order.id)">Usuń</button>
          </td>
          <td class="col-lg-1 col-md-3 col-sm-4">
            <router-link :to="{path: `order-status/${order.id}/edit`}">
            <button class='btn btn-list btn-info'>Zmień status</button>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <div :key="pageNumber" id="pagination-container-list">
      <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </button>
      <b>{{pageNumber+1}} .. {{pageCount+1}} </b>
      <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

 <script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    }
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["orders", "success", "refresh", "order", "orderIcons"]),
    pageCount() {
      let l = this.orders.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.orders.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadOrders: "orders",
      deleteOrder: "deleteOrder",
      sortList: "sortList",
      prepareOrderIcons: "prepareOrderIcons"
    }),
    deleteSelectedOrder(id) {
      this.deleteOrder(id);
    },
    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.orders]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadOrders();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.orders.reverse();
    }
  },
  created() {
    this.downloadOrders();
    this.prepareOrderIcons(5);
  }
};
</script>
 
<style>
</style> 