<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania użytkownika</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="first-name">Imię</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁ]{1}[a-ząęźżół]{2,}$" @input="validField(user.first_name,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}"
              class="form-control" placeholder="Podaj imię" v-model="user.first_name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED ">{{errors.first_name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="last-name">Nazwisko</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁ]{1}[a-ząęźżół]{2,}$" @input="validField(user.last_name,inputsNumber,1,$event)"
              :class="{'error': inputsNumber[1]=== UNTESTED || inputsNumber[1]=== INVALID , 'success': inputsNumber[1]=== VALID}"
              class="form-control" placeholder="Podaj nazwisko" v-model="user.last_name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.last_name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" data-pattern="^[0-9a-zA-Z_.-]+@[0-9a-zA-Z.-]+\.[a-zA-Z]{2,3}$" @input="validField(user.email,inputsNumber,2,$event)"
              :class="{'error': inputsNumber[2]=== UNTESTED || inputsNumber[2]=== INVALID , 'success': inputsNumber[2]=== VALID}"
              class="form-control" placeholder="Podaj adres e-mail" v-model="user.email">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[2]===this.INVALID || this.inputsNumber[2]===this.UNTESTED">{{errors.email}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input id="password" type="password" data-pattern="^[0-9a-zA-Z]{6,}$" @input="validField(undefined,inputsNumber,3,$event)"
              :class="{'error': inputsNumber[3]=== UNTESTED || inputsNumber[3]=== INVALID , 'success': inputsNumber[3]=== VALID}"
              class="form-control" placeholder="Podaj hasło" v-model="user.password">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[3]===this.INVALID || this.inputsNumber[3]===this.UNTESTED">{{errors.password}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="password-confirm">Powtórz hasło</label>
            <input id="password-confirm" type="password" data-pattern="^[0-9a-zA-Z]{6,}$" @input="validField(undefined,inputsNumber,4,$event)"
              :class="{'error': inputsNumber[4]=== UNTESTED || inputsNumber[4]=== INVALID , 'success': inputsNumber[4]=== VALID}"
              class="form-control" placeholder="Powtórz hasło" v-model="user.confirm_password">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[4]===this.INVALID || this.inputsNumber[4]===this.UNTESTED">{{errors.password_confirm}}</span>
            </transition>
          </div>
        </div>
      </div>
      <br/>
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dla informacji rozliczeniowych i wysyłkowych</span>
      </div>
      <br/>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="street">Ulica</label>
            <input type="street" data-pattern="[A-ZĄĘĆŹŻŁŃ]{1}[a-ząęćńźżółu]{2,}" @input="validField(user.street,inputsNumber,5,$event)"
              :class="{'error': inputsNumber[5]=== UNTESTED || inputsNumber[5]=== INVALID , 'success': inputsNumber[5]=== VALID}"
              class="form-control" placeholder="Podaj nazwę ulicy" v-model="user.street">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[5]===this.INVALID || this.inputsNumber[5]===this.UNTESTED">{{errors.street}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="street_number">Numer ulicy</label>
            <input type="street_number" data-pattern="[A-ZĄĘĆŹŻŁŃ0-9]{1}[a-ząęćńźżółu0-9]{1,}" @input="validField(user.street_number,inputsNumber,6,$event)"
              :class="{'error': inputsNumber[6]=== UNTESTED || inputsNumber[6]=== INVALID , 'success': inputsNumber[6]=== VALID}"
              class="form-control" placeholder="Podaj numer ulicy" v-model="user.street_number">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[6]===this.INVALID || this.inputsNumber[6]===this.UNTESTED">{{errors.street_number}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="post_code">Kod pocztowy</label>
            <input type="post_code" data-pattern="^([0-9]{2})(-[0-9]{3})$" @input="validField(user.post_code,inputsNumber,7,$event)"
              :class="{'error': inputsNumber[7]=== UNTESTED || inputsNumber[7]=== INVALID , 'success': inputsNumber[7]=== VALID}"
              class="form-control" placeholder="Podaj kod pocztowy" v-model="user.post_code">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[7]===this.INVALID || this.inputsNumber[7]===this.UNTESTED">{{errors.post_code}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="city">Miasto</label>
            <input type="city" data-pattern="[A-ZĄĘĆŹŻŁŃ]{1}[a-ząęćńźżółu]{2,}" @input="validField(user.city,inputsNumber,8,$event)"
              :class="{'error': inputsNumber[8]=== UNTESTED || inputsNumber[8]=== INVALID , 'success': inputsNumber[8]=== VALID}"
              class="form-control" placeholder="Podaj miasto" v-model="user.city">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[8]===this.INVALID || this.inputsNumber[8]===this.UNTESTED">{{errors.city}}</span>
            </transition>
          </div>
        </div>
        <div class='col-lg-8 text-left'>
          <div class="form-group">
            <label for="rules"></label>
            <input type="checkbox" @input="validField(user.rules,inputsNumber,9,$event,true)" data-pattern="[0-1]{1}" value="false" :class="{'error': inputsNumber[9]=== UNTESTED || inputsNumber[9]=== INVALID , 'success': inputsNumber[9]=== VALID}"
              v-model="user.rules"> Akceptuję
            <button id="show-modal" @click="showModal = true">
              <span id='rule-title'>Regulamin</span>
            </button>
            <modal v-if="showModal" @close="showModal = false">
              <h3 slot="header">Regulamin sklepu internetowego </h3>
            </modal>
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[9]===this.INVALID || this.inputsNumber[9]===this.UNTESTED">{{errors.rules}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj użytkownika</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
import Modal from "@/components/users/Rules";
export default {
  components: {
    Modal,
  },
  data() {
    return {
      showModal: false,
      valid: false,
      errors: {
        first_name: "Podaj poprawne imię!",
        last_name: "Podaj poprawne nazwisko!",
        email: "Podaj poprawny adres e-mail!",
        password: "Hasło musi składać się z 6 znaków!",
        password_confirm: "Hasło musi składać się z 6 znaków!",
        street: "Podaj poprawną nazwę ulicy!",
        street_number: "Podaj poprawny numer dla ulicy!",
        city: "Podaj poprawnę nazwę dla miasta!",
        post_code: "Podaj poprawny kod pocztowy!",
        rules: "Zaakceptuj regulamin!"
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["user", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
  },
  missingText: function () {
    return true;
  },
  methods: {
    ...mapActions({
      downloadUsers: "users",
      addUser: "storeUser",
      updateUser: "updateUser",
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validField(value, inputsNumber, inputNumber, event, checkbox = false) {
      this.validFormField([
        value,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value,
        checkbox
      ]);
    },
    checkFormBeforeSubmit() {
      this.validateForm();
      if (this.validationPassed === true)
        this.addUser(this.user);
    }
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      //this.$router.push({name:'users'});
    },
    error() {
      this.$emit('changeTitle', this.error.message);
    }
  },
  created() {
    this.prepareArray([10, INVALID]);
  }
};
</script>

<style>
#rule-title {
  color: blue;
}

#rule-title:hover {
  text-shadow: 1px 0px gray;
  color: blue;
  text-decoration: underline;
}
</style>
