<template>
  <div class='container register-container'>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz edycji użytkownika</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="first-name">Imię</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁ]{1}[a-ząęźżół]{2,}$" @input="validField(user.first_name,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]===UNTESTED || inputsNumber[1]=== INVALID, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj imię" v-model="user.first_name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED ">{{errors.first_name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="last-name">Nazwisko</label>
            <input type="text" data-pattern="^[A-ZĄĘŹŻŁÓŁ]{1}[a-ząęźżół]{2,}$" @input="validField(user.last_name,inputsNumber,1,$event)"
              :class="{'error': inputsNumber[1]===UNTESTED || inputsNumber[1]=== INVALID, 'success': inputsNumber[1]===1}"
              class="form-control" placeholder="Podaj nazwisko" v-model="user.last_name">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.last_name}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" data-pattern="^[0-9a-zA-Z_.-]+@[0-9a-zA-Z.-]+\.[a-zA-Z]{2,3}$" @input="validField(user.email,inputsNumber,2,$event)"
              :class="{'error': inputsNumber[2]=== UNTESTED || inputsNumber[2]=== INVALID, 'success': inputsNumber[2]===1}"
              class="form-control" placeholder="Podaj adres e-mail" v-model="user.email">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[2]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.email}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input id="password" type="password" data-pattern="^[0-9a-zA-Z]{6,}$" @input="validField(undefined,inputsNumber,3,$event)"
              :class="{'error': inputsNumber[3]=== UNTESTED || inputsNumber[3]=== INVALID, 'success': inputsNumber[3]===1}"
              class="form-control" placeholder="Podaj hasło" v-model="user.password">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[3]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.password}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="password-confirm">Powtórz hasło</label>
            <input id="password-confirm" type="password" data-pattern="^[0-9a-zA-Z]{6,}$" @input="validField(undefined,inputsNumber,4,$event)"
              :class="{'error': inputsNumber[4]=== UNTESTED || inputsNumber[4]=== INVALID, 'success': inputsNumber[4]===1}"
              class="form-control" placeholder="Powtórz hasło" v-model="user.confirm_password">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[4]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.password_confirm}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Edytuj użytkownika</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      valid: false,
      errors: {
        first_name: "Podaj poprawne imię!",
        last_name: "Podaj poprawne nazwisko!",
        email: "Podaj poprawny adres e-mail!",
        password: "Hasło musi składać się z 6 znaków!",
        password_confirm: "Hasło musi składać się z 6 znaków!"
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["user", "error", "success", "refresh", "inputsNumber", 'validationPassed'])
  },
  methods: {
    ...mapActions({
      updateUser: "updateUser",
      getUser: 'user',
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validField(value, inputsNumber, inputNumber, event) {
      this.validFormField([
        value,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },
    checkFormBeforeSubmit() {
      this.validateForm();
      if (this.validationPassed === true)
        this.updateUser(this.user);
    },
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);
      this.$router.push({
        name: 'users'
      });
    },
    error() {
      this.$emit('changeTitle', this.error.message);
    }
  },
  created() {
    this.prepareArray([5, VALID]);
    this.getUser(this.$route.params.id);
    this.user;
  }
};
</script>

<style>
</style>
