<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Prośba o przypomnienie hasła</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" data-pattern="^[0-9a-zA-Z_.-]+@[0-9a-zA-Z.-]+\.[a-zA-Z]{2,3}$" @input="validField(user.email,inputsNumber,0,$event)"
              :class="{'error': inputsNumber[0]=== UNTESTED || inputsNumber[0]=== INVALID , 'success': inputsNumber[0]=== VALID}"
              class="form-control" placeholder="Podaj adres e-mail" v-model="user.email">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.email}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Wyślij prośbę o przypomnienie hasła</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      valid: false,
      errors: {
        email: "Podaj adres e-mail!",
      },
      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["user", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
  },
  methods: {
    ...mapActions({
      sendForgotPasswordRequest: 'sendForgotPasswordRequest',
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm: 'validateForm',
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    ...mapMutations(['USER', 'PUSHRESPONSE']),
    validField(value, inputsNumber, inputNumber, event) {
      this.validFormField([
        value,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },
    checkFormBeforeSubmit() {
      this.validateForm();
      if (this.validationPassed === true)
        this.sendForgotPasswordRequest(this.user.email);
    }
  },
  watch: {
    refresh() {
      this.$emit('changeResponseTitle', this.success);  
    },
    error() {
      this.$emit('changeTitle', this.error.message);
    }
  },
  created() {
    this.prepareArray([1, INVALID]);
  }
};
</script>

<style>
</style>
