<template>
  <div class='users'>
    <table class='table table-dark table-hover'>
      <thead class="thead-light">
        <tr class="row">
          <th @click="sort('id',0)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">ID</span>
          </th>
          <th @click="sort('first_name',1)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Imię</span>
          </th>
          <th @click="sort('last_name',2)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[2] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Nazwisko</span>
          </th>
          <th @click="sort('email',3)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">E-mail</span>
          </th>
          <th @click="sort('post_code',4)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[4] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">K. pocztowy</span>
          </th>
          <th @click="sort('street',5)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[5] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Ulica</span>
          </th>
          <th @click="sort('street_number',6)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[6] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Numer</span>
          </th>
          <th @click="sort('city',7)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[7] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Miasto</span>
          </th>
          <th @click="sort('verified',8)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[8] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Zweryfikowany</span>
          </th>
          <th @click="sort('created_at',9)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[9] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Utworzono</span>
          </th>
          <th @click="sort('updated_at',10)" scope="col" class="col-lg-3 col-md-4 col-sm-4 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[10] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Edytowano</span>
          </th>
          <th class="col-lg-3 col-md-4 col-sm-4 col-6">Edytuj</th>
          <th class="col-lg-3 col-md-4 col-sm-4 col-6">Usuń</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" v-for="user in paginatedData" :key="user.id">
          <td class="col-lg-3 col-md-4 col-sm-4 col-6" v-for="(item,index) in user" :key="index">{{ item }}</td>
          <td class="col-lg-3 col-md-4 col-sm-4 col-6">
            <router-link :to="{path: `users/${user.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td class="col-lg-3 col-md-4 col-sm-4 col-6">
            <button class='btn btn-list btn-danger' @click="deleteSelectedUser(user.id)">Usuń</button>
          </td>
        </tr>

      </tbody>
    </table>
          <div :key="pageNumber" id="pagination-container-list">
            <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
            <b>{{pageNumber+1}} .. {{pageCount+1}} </b>
            <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
              <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
          </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    }
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["users", "refresh", "success", "order", "orderIcons"]),
    pageCount() {
      let l = this.users.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.users.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadUsers: "users",
      deleteUser: "deleteUser",
      sortList: "sortList",
      prepareOrderIcons: "prepareOrderIcons"
    }),
    deleteSelectedUser(id) {
      this.deleteUser(id);
    },
    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.users]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadUsers();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.users.reverse();
    }
  },
  created() {
    this.downloadUsers();
    this.prepareOrderIcons(11);
  }
};
</script>

<style lang="scss">
th>span:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 1px 0px rgb(70, 70, 70);
}

.btn-list {
  border-radius: 0;
  font-size: 15px;
  min-height: 4rem;
  min-width: 7rem;
}

tr > td {
  text-align: center;
}

tr >th 
{
  text-align: center
}

.btn-list:hover {
  background-color: white;
  color: black;
}

.ascending:after {
  content: "25B2";
}

.descending:after {
  content: "25BC";
}
</style>
