<template>
  <transition name="modal">
    <div class="modal-mask row">
      <div class="modal-wrapper col-lg-12">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              Regulamin sklepu internetowego
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <div class='row'>
                <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
                  <div class="panel panel-default">
                    <div aria-controls="collapsePre" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapsePre" id="headingPre" role="button">
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapseNull" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapseNull" id="headingNull" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">I. Postanowienia ogólne</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="headingNull" class="panel-collapse collapse" id="collapseNull" role="tabpanel" aria-expanded="false"
                      style="height: 0px;">
                      <div class="panel-body">
                        <ol>
                          <li>Niniejszy Regulamin jest integralną częścią umowy sprzedaży oferowanych produktów i zarazem określa
                            warunki sprzedaży prowadzonej za pośrednictwem sklepu internetowego pod adresem phone-mania.pl
                            przez phone-mania spółkę z o.o. z siedzibą w Częstochowie, ul. Bojemskiego 25, wpisaną do rejestru
                            przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy w Częstochowie, XVII
                            Wydział Gospodarczy Krajowego Rejestru Sądowego, pod numerem KRS 0000429838, NIP 9492107026 i
                            REGON 241123546, o kapitale zakładowym 10.000.000 zł, posługującą się numerem telefonu: 34 3770000.</li>
                          <li>Sprzedaż odbywa się za pośrednictwem Internetu lub drogą telefoniczną pomiędzy składającym zamówienie
                            w sklepie internetowym phone-mania.pl, zwanym dalej Klientem, a phone-mania sp. z o.o., zwaną
                            dalej Sprzedawcą. Zawarcie umowy sprzedaży danego produktu w sklepie internetowym phone-mania.pl
                            jest również możliwe przy użyciu aplikacji mobilnej phone-mania, dostępnej na systemy Android
                            oraz iOS. Sprzedawca nie prowadzi sprzedaży hurtowej w ramach zamówień składanych za pośrednictwem
                            sklepu internetowego prowadzonego pod adresem
                            <a href="https://www.phone-mania.pl/" target="_blank">phone-mania.pl</a>
                          </li>
                          <li>Kupującym (Klientem) może być każda osoba fizyczna, prawna lub jednostka organizacyjna nieposiadająca
                            osobowości prawnej, zarejestrowana w sklepie internetowym phone-mania.pl. Kupujący może dokonać
                            zakupu w sklepie internetowym phone-mania.pl również bez konieczności rejestracji w sklepie internetowym.</li>
                          <li>Każdy Klient dokonujący zakupu produktów oferowanych przez Sprzedawcę jest zobowiązany zapoznać
                            się z regulaminem.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapseOne" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapseOne" id="headingOne" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">II. Przedmiot sprzedaży</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Przedmiotem sprzedaży są produkty prezentowane na stronach WWW sklepu internetowego phone-mania.pl.</li>
                          <li>Wszystkie produkty oferowane w sklepie internetowym phone-mania.pl są fabrycznie nowe, wolne od
                            wad fizycznych i prawnych oraz zostały legalnie wprowadzone na rynek polski. Sprzedawca zastrzega
                            sobie jednak prawo do oferowania produktów krótkotrwale używanych lub pochodzących z ekspozycji,
                            które będą stosownie oznaczone i opisane w ofercie danego produktu.</li>
                          <li>Sprzedawca ma obowiązek dostarczenia rzeczy wolnych od wad, zgodnie z postanowieniami art. 556
                            oraz 5561 – 5563 ustawy z dnia 23 kwietnia 1964 r. Kodeks Cywilny.</li>
                          <li>Ceny wszystkich produktów prezentowanych na stronach WWW sklepu internetowego phone-mania.pl wyrażone
                            są w złotych polskich i zawierają podatek VAT. Cena brutto produktu nie obejmuje kosztu przesyłki.</li>
                          <li>Sprzedawca aktualizuje na bieżącą ofertę produktów prezentowanych na stronach WWW sklepu internetowego
                            phone-mania.pl.</li>
                          <li>Płatności za realizację zamówienia można dokonać w jeden z poniższych sposobów:
                            <br> a) przelewem, przed dostawą produktu na rachunek bankowy Sprzedawcy (przedpłata),
                            <br> b) za pobraniem, przy odbiorze przesyłki od przewoźnika,
                            <br> c) systemem ratalnym, płatność jest finansowana z środków pochodzących częściowo lub w całości
                            z kredytu lub leasingu,
                            <br> d) gotówką, kartą płatniczą lub kredytową przy odbiorze osobistym w sklepie stacjonarnym Sprzedawcy,
                            <br> e) kartą płatniczą lub kredytową przy odbiorze z paczkomatu,
                            <br> f) poprzez system płatności elektronicznych.</li>
                          <li>Klient podczas składania zamówienia może wyrazić zgodę na wystawianie i przesyłanie faktur elektronicznych
                            przez Sprzedawcę. Zgoda na otrzymywanie faktury elektronicznej jest równoznaczna z rezygnacją
                            z otrzymywania faktury w formie papierowej.</li>
                          <li>Zgoda Klienta na otrzymywanie faktur elektronicznych nie wyłącza prawa Sprzedawcy do wystawiania
                            i przesyłania faktur w formie papierowej.</li>
                          <li>Sprzedawca wystawia i przesyła faktury elektroniczne, gwarantując autentyczność ich pochodzenia
                            oraz integralność ich treści.</li>
                          <li>Sprzedawca nie ponosi odpowiedzialności za błędne dane, wskazane przez Klienta podczas rejestracji
                            lub składania zamówienia, jako właściwe do wystawienia faktury VAT</li>
                          <li>Każda faktura elektroniczna będzie dostarczona na adres e-mail podany przez Klienta podczas rejestracji
                            lub składania zamówienia. Zmiana adresu e-mail wymaga pisemnego powiadomienia Sprzedawcy. Jeśli
                            Klient nie powiadomi Sprzedawcy o zmianie adresu e-mail, korespondencja będzie kierowana na dotychczasowy
                            adres e-mail i uważa się ją za prawidłowo doręczoną.</li>
                          <li>Klient może zrezygnować z otrzymywania faktur elektronicznych, wysyłając pisemne oświadczenie w
                            formie papierowej na adres: phone-mania sp. z o.o., ul. Bojemskiego 25, 42-200 Częstochowa lub
                            pocztą elektroniczną na adres phone-mania@phone-mania.pl. Od dnia następnego po dniu doręczenia
                            oświadczenia o którym mowa powyżej, Sprzedawca traci prawo do wystawiania i przesyłania Klientowi
                            faktur elektronicznych.</li>
                          <li>Jeśli Klient wybierze transakcję systemem płatności elektronicznych, jako sposób płatności za zamówienie,
                            Sprzedawca doliczy opłatę równą kosztom jej realizacji. Opłata jest liczona od łącznej wartości
                            brutto zamówienia wraz z kosztami wysyłki. Wysokość opłaty o której mowa powyżej jest każdorazowo
                            wyszczególniona w podsumowaniu zamówienia, przed zawarciem umowy sprzedaży.</li>
                          <li>Jeśli Klient wybierze płatność kartą kredytową lub płatniczą w paczkomacie, jako sposób płatności
                            za zamówienie, Sprzedawca doliczy opłatę równą kosztom jej realizacji. Opłata jest liczona od
                            łącznej wartości brutto zamówienia wraz z kosztami wysyłki. Wysokość opłaty, o której mowa powyżej
                            jest każdorazowo wyszczególniona w podsumowaniu zamówienia, przed zawarciem umowy sprzedaży.
                            Opłata ta jest pobierana niezależnie od opłaty naliczanej tytułem kosztu dostawy przesyłki do
                            paczkomatu.</li>
                          <li>Jeśli Klient wybierze płatność kartą płatniczą lub kredytową w salonie, jako sposób płatności za
                            zamówienie złożone w sklepie internetowym phone-mania.pl, Sprzedawca nie naliczy opłaty z tytułu
                            realizacji powyżej transakcji.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapseTwo" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapseTwo" id="headingTwo" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">III. Sprzedaż treści cyfrowych</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Sprzedaż treści cyfrowych odbywa się na zasadach określonych w niniejszym Regulaminie.</li>
                          <li>Poprzez treści cyfrowe należy rozumieć dane wytwarzane i dostarczane w postaci cyfrowej (np. klucze
                            aktywacyjne), jak również treści cyfrowe dostarczane na nośniku materialnym (np. płyta CD, płyta
                            DVD itp.).</li>
                          <li>W umowach o dostarczaniu treści cyfrowych Sprzedawca działa wyłącznie jako dystrybutor. Sprzedawca
                            nie jest licencjodawcą dystrybuowanych treści cyfrowych, a umowa licencyjna zawierana jest pomiędzy
                            licencjodawcą a Klientem, będącym odbiorcą końcowym treści cyfrowych.</li>
                          <li>Zawarcie umowy licencyjnej pomiędzy Klientem a licencjodawcą, następuje w chwili akceptacji tejże
                            umowy podczas instalacji treści cyfrowych przez Klienta lub wobec braku wymogu akceptacji umowy
                            licencyjnej – na podstawie przepisów ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach
                            pokrewnych.</li>
                          <li>W przypadku treści cyfrowych dostarczanych na trwałym nośniku materialnym, Sprzedawca odpowiada
                            wyłącznie za wady, jakimi obarczony jest nośnik, na którym utrwalono treść cyfrową. Sprzedawca
                            nie odpowiada za wady (błędy) treści cyfrowych, umieszczone na tym nośniku.</li>
                          <li>Za wady dystrybuowanych treści cyfrowych w formie kluczy aktywacyjnych odpowiada licencjodawca.</li>
                          <li>Spełnienie świadczenia z umowy o dostarczanie treści cyfrowych, które nie są zapisane na nośniku
                            materialnym następuje, za zgodą Klienta będącego konsumentem, przed upływem terminu do odstąpienia
                            od umowy, o którym mowa w art. 27 ustawy z dnia 30 maja 2014 r. o prawach konsumenta.</li>
                          <li>Prawo odstąpienia od umowy zawartej poza lokalem przedsiębiorstwa lub na odległość nie przysługuje
                            Klientowi będącemu konsumentem w odniesieniu do umów o dostarczanie treści cyfrowych, które nie
                            są zapisane na nośniku materialnym, jeżeli spełnienie świadczenia rozpoczęło się za wyraźną zgodą
                            Klienta będącego konsumentem przed upływem terminu do odstąpienia od umowy i po poinformowaniu
                            go przez Sprzedawcę o utracie prawa odstąpienia od umowy, o czym mowa w art. 38 pkt 13) ustawy
                            z dnia 30 maja 2014 r. o prawach konsumenta.</li>
                          <li>Na podstawie art. 38 ust. 9 ustawy z dnia 30 maja 2014 r. o prawach konsumenta, Klientowi będącemu
                            konsumentem, nie przysługuje prawo do odstąpienia od umowy zawartej na odległość, w której przedmiotem
                            świadczenia są nagrania dźwiękowe lub wizualne albo programy komputerowe dostarczane w zapieczętowanym
                            opakowaniu, jeżeli opakowanie zostało otwarte po dostarczeniu.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapseThree" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapseThree" id="headingThree" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">IV. Realizacja zamówienia oraz funkcjonowanie sklepu internetowego</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Zamówienia w sklepie internetowym phone-mania.pl można składać poprzez witrynę internetową (sklep
                            internetowy) lub aplikację mobilną phone-mania:
                            <br> a) poprzez konto użytkownika - w tym celu należy dokonać rejestracji konta na stronie internetowej
                            <a href="https://www.phone-mania.pl/rejestracja" target="_blank">www.phone-mania.pl/rejestracja</a> lub w aplikacji mobilnej phone-mania i zaakceptować postanowienia
                            niniejszego Regulaminu,
                            <br> b) bez konieczności zakładania lub korzystania z konta użytkownika, o którym mowa powyżej, po
                            akceptacji niniejszego Regulaminu</li>
                          <li>Każdy Klient sklepu internetowego phone-mania.pl może podejmować następujące czynności oraz korzystać
                            ze wskazanych usług świadczonych drogą elektroniczną:
                            <br> a) dokonywanie zakupów w sklepie internetowym phone-mania.pl,
                            <br> b) korzystanie z indywidualnych rabatów,
                            <br> c) udział w promocjach i konkursach,
                            <br> d) opiniowanie produktów,
                            <br> e) rejestracja konta na forum prowadzonym pod adresem: forum.phone-mania.pl</li>
                          <li>Oprócz wymienionych powyżej czynności, zarejestrowany użytkownik może:
                            <br> a) prowadzić szczegółowe statystyki swoich działań w systemie Sprzedającego,
                            <br> b) współdecydować o wyglądzie i kształcie sklepu internetowego phone-mania.pl.</li>
                          <li>Po zarejestrowaniu Klient otrzyma na podany adres e-mail odnośnik do strony internetowej, umożliwiający
                            aktywację konta. Aktywacja pozwala na zalogowanie do sklepu internetowego.</li>
                          <li>Prawidłowa rejestracja polega na wypełnieniu wszystkich wymaganych pól formularza rejestracyjnego.</li>
                          <li>Przetwarzanie danych osobowych zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679
                            z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
                            osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne
                            rozporządzenie o ochronie danych) reguluje Polityka Prywatności znajdująca się pod adresem:
                            <a
                              href="https://www.phone-mania.pl/polityka-prywatnosci" target="_blank">www.phone-mania.pl/polityka-prywatnosci</a>.</li>
                          <li>Podanie danych osobowych podczas rejestracji lub składania zamówienia jest dobrowolne, choć konieczne
                            do realizacji umowy sprzedaży, zawieranej przez Klienta sklepu internetowego phone-mania.pl ze
                            Sprzedającym. Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania, co może zrobić
                            również w panelu użytkownika.</li>
                          <li>O zmianach w Regulaminie Klient zostanie powiadomiony podczas pierwszego logowania od wprowadzenia
                            zmian w Regulaminie. Akceptacja zmian w regulaminie odbywa się poprzez potwierdzenie/kliknięcie
                            komunikatu na stronie logowania w sklepie internetowym phone-mania.pl. Brak akceptacji zmian
                            w Regulaminie jest równoznaczny z wyrejestrowaniem się ze sklepu internetowego phone-mania.pl
                            z zastrzeżeniem, że Klient uczestniczy w rozpoczętych przed rozwiązaniem umowy transakcjach na
                            zasadach Regulaminu, obowiązującego w dacie ich rozpoczęcia. Zmiana Regulaminu nie narusza praw
                            nabytych osób korzystających ze sklepu internetowego phone-mania.pl.</li>
                          <li>Zmiany Regulaminu wchodzą w życie w terminie nie krótszym niż 7 dni od momentu udostępnienia zmienionego
                            Regulaminu na stronie sklepu internetowego phone-mania.pl, z zastrzeżeniem, że transakcje rozpoczęte
                            przed wejściem w życie tych zmian są prowadzone na zasadach dotychczasowych.</li>
                          <li>W celu dokonania zakupu w sklepie internetowym phone-mania.pl należy podjąć następujące działania:
                            <br> a) zapoznać się z treścią oferty danego produktu,
                            <br> b) dodać wybraną ilość produktów do koszyka, w przypadku ich dostępności,
                            <br> c) wybrać sposób dostawy lub odbioru produktu,
                            <br> d) wybrać sposób płatności,
                            <br> e) podać dane do wysyłki produktu,
                            <br> f) zapoznać się z podsumowaniem zamówienia,
                            <br> g) złożyć zamówienie przy użyciu przycisku (hiperłącza) "Kupuję i płacę".</li>
                          <li>Okres ważności złożonego zamówienia wynosi 10 dni. W przypadku braku odbioru zamówienia, zapłaty
                            za złożone zamówienie lub niemożności skontaktowania się z Kupującym w celu realizacji złożonego
                            zamówienia i pod warunkiem, że powyższe okoliczności będą trwały dłużej niż 10 dni, zamówienie
                            zostanie anulowane.</li>
                          <li>Potwierdzenie zawarcia umowy zostanie przesłane na adres e-mail wskazany przez Klienta w danym
                            zamówieniu.</li>
                          <li>W celu korzystania z witryny sklepu internetowego phone-mania.pl należy spełnić co najmniej poniższe
                            wymagania technicznie, niezbędne do współpracy z systemem teleinformatycznym:
                            <br> a) przeglądarka Chrome, Firefox, Microsoft Edge, Safari lub Opera w najnowszej wersji,
                            <br> b) włączona obsługa języka Javascript,
                            <br> c) włączona obsługa ciasteczek i danych stron.</li>
                          <li>W ramach funkcjonowania sklepu internetowego phone-mania.pl Klienta obowiązuje zakaz dostarczania
                            treści o charakterze bezprawnym.</li>
                          <li>Klient w dowolnym momencie i bezpłatnie może usunąć konto użytkownika oraz rozwiązać umowę świadczenia
                            usług w zakresie funkcjonowania sklepu internetowego phone-mania.pl (rozdział IV II pkt 2. ppkt
                            d) – f) Regulaminu).</li>
                          <li>Wszelkie reklamacje dotyczące usług świadczonych drogą elektroniczną, a związane z funkcjonowaniem
                            sklepu internetowego phone-mania.pl, (rozdział IV II pkt 2. ppkt d) – f) Regulaminu) Klient może
                            złożyć na adres: phone-mania@phone-mania.pl. Złożona w ten sposób reklamacja zostanie rozpatrzona
                            przez Sprzedawcę w terminie do 14 dni od dnia jej otrzymania przez Sprzedawcę.</li>
                          <li>W ramach korzystania z możliwości wystawiania opinii do produktów w sklepie internetowym phone-mania.pl,
                            Klient nie może zamieszczać treści o charakterze bezprawnym, w szczególności zawierających wulgaryzmy,
                            nawoływanie do przemocy lub nienawiści, propagujących rasizm, uwłaczających godności innych Klientów
                            lub osób trzecich, sprzecznych z ogólnie przyjętymi normami społecznymi, noszących znamiona przestępstwa,
                            stanowiących czyn nieuczciwej konkurencji, naruszających prawa autorskie lub prawa przemysłowe,
                            zmierzających do promowania produktów i usług podmiotów konkurencyjnych wobec Sprzedawcy lub
                            mających na celu odesłanie do ofert produktów i usług takich podmiotów. W takim przypadku Sprzedawca
                            może usunąć lub zmodyfikować opinię poprzez uniemożliwienie dostępu innym użytkownikom do części
                            opinii sprzecznej z niniejszym regulaminem.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapseFour" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapseFour" id="headingFour" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">V. Dostawa</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="headingFour" class="panel-collapse collapse" id="collapseFour" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Dostawy produktów zamawianych w sklepie Internetowym phone-mania.pl realizowane są wyłącznie na
                            terytorium Rzeczypospolitej Polskiej.</li>
                          <li>Zakupione produkty są dostarczane zgodnie z wyborem Klienta, przez przewoźnika lub do paczkomatów
                            we wskazanym przez Klienta miejscu. Zamówienia zawierające produkty, których gabaryty przekraczają
                            możliwość odbioru z paczkomatów, nie będą posiadały takiej możliwości w chwili potwierdzania
                            zamówienia.</li>
                          <li>Klient może także odebrać zamówiony sprzęt w jednym ze sklepów stacjonarnych należących do Sprzedawcy
                            (lista salonów dostępna jest pod adresem:
                            <a href="https://www.phone-mania.pl/kontakt" target="_blank">https://www.phone-mania.pl/kontakt</a>.</li>
                          <li>Koszt dostawy zakupionych produktów jest wskazany na stronie
                            <a href="https://www.phone-mania.pl/dostawa"
                              target="_blank">www.phone-mania.pl/dostawa</a>.</li>
                          <li>Czas realizacji umowy sprzedaży wynosi od 1 do 10 dni roboczych. W przypadku sprzedaży produktów
                            w ramach przedsprzedaży, przybliżony czas realizacji zamówienia określony jest w ofercie dotyczącej
                            danego produktu.</li>
                          <li>W momencie kiedy Sprzedający nie może zrealizować zamówienia z powodu choćby przejściowej niemożności
                            spełnienia świadczenia o właściwościach zamówionych przez Klienta, Sprzedający może zwolnić się
                            ze zobowiązania poprzez spełnienie świadczenia zastępczego, odpowiadającego tej samej jakości
                            i przeznaczeniu oraz za tę samą cenę lub wynagrodzenie, jednocześnie informując pisemnie Klienta
                            o jego prawie nieprzyjęcia tego świadczenia i odstąpienia od umowy, ze zwrotem rzeczy na koszt
                            Sprzedającego. W takim przypadku Klient może odstąpić od umowy w sposób i na zasadach określonych
                            w art. 27 ustawy z dnia 30 maja 2014 r. o prawach konsumenta (Dz. U. 2014 r., poz. 827). Zwrot
                            rzeczy następuje wówczas na koszt Sprzedającego.</li>
                          <li>Odbiór przesyłki dostarczanej przez przewoźnika wymaga pisemnego pokwitowania. Prawo własności
                            produktu, uprawnienia i wszelkie ryzyka związane z jego posiadaniem i użytkowaniem, a w szczególności
                            ryzyko utraty lub uszkodzenia przechodzi na Klienta, będącego Konsumentem, w momencie wydania
                            produktu.</li>
                          <li>W przypadku stwierdzenia jakichkolwiek uszkodzeń produktu, dostarczonego Klientowi przez przewoźnika
                            mogących mieć związek z dostarczeniem, w celu usprawnienia procedury reklamacyjnej zaleca się
                            ich zgłoszenie przewoźnikowi w momencie odbioru lub w ciągu 24 godzin od daty otrzymania przesyłki
                            pod adresem
                            <a href="https://www.phone-mania.pl/serwis" target="_blank">www.phone-mania.pl/serwis</a> (zgłoszenie reklamacji produktu kupionego drogą internetową) oraz
                            w terminie do 7 dni bezpośrednio u przewoźnika w celu sporządzenia protokołu ustalającego stan
                            przesyłki.</li>
                          <li>W momencie ujawnienia uszkodzenia produktu, mogącego mieć związek z przewozem, pomimo braku uszkodzeń
                            opakowania zewnętrznego (uszkodzenia mechaniczne zawartości przesyłki, braki ilościowe, niekompletność
                            przesyłki itd.), zaleca się by Klient zgłosił uszkodzenie w ciągu 24 godzin od daty otrzymania
                            przesyłki pod adresem
                            <a href="https://www.phone-mania.pl/serwis" target="_blank">www.phone-mania.pl/serwis</a> (zgłoszenie reklamacji produktu kupionego drogą internetową) oraz
                            sporządził wraz z przewoźnikiem protokół ustalający stan przesyłki.</li>
                          <li>W przypadku odbioru przesyłki z paczkomatów, potwierdzenie odbioru odbywa się poprzez system informatyczny
                            paczkomatu. Prawo własności produktu, uprawnienia i wszelkie ryzyka związane z jego posiadaniem
                            i użytkowaniem, a w szczególności ryzyko utraty lub uszkodzenia przechodzi na Klienta, będącego
                            Konsumentem, w momencie zatwierdzenia odbioru przesyłki.</li>
                          <li>W razie jakichkolwiek zastrzeżeń co do stanu opakowania zewnętrznego przesyłki dostarczonej do
                            paczkomatu, w celu ułatwienia i usprawnienia procedury reklamacyjnej zalecane jest:
                            <br> a) wskazanie uszkodzenia pod kamerą monitoringu paczkomatu,
                            <br> b) umieszczenie uszkodzonej, nieotwartej przesyłki w skrytce paczkomatu, w której pierwotnie
                            się znajdowała i zamknięcia skrytki paczkomatu,
                            <br> c) zgłoszenie tego faktu do Sprzedawcy w ciągu 24 godzin od momentu próby odbioru przesyłki
                            poprzez wypełnienie formularza dostępnego na stronie
                            <a href="https://www.phone-mania.pl/serwis"
                              target="_blank">www.phone-mania.pl/serwis</a> (zgłoszenie reklamacji), a także do właściciela danego paczkomatu
                            w momencie próby odbioru przy pomocy komunikatów wyświetlanych na ekranie paczkomatu (zainicjowanie
                            procesu reklamacyjnego).</li>
                          <li>Jakiekolwiek uszkodzenia produktu, mogące mieć związek z dostawą, pomimo braku uszkodzeń opakowania
                            zewnętrznego, zaleca się: zgłosić w najbliższym oddziale lub w siedzibie właściciela paczkomatu
                            w terminie 7 dni od daty odebrania przesyłki w celu sporządzenia protokołu stanu przesyłki, a
                            także zgłosić do Sprzedawcy, za pośrednictwem formularza dostępnego na stronie
                            <a href="https://www.phone-mania.pl/serwis"
                              target="_blank">www.phone-mania.pl/serwis</a> w ciągu 24 godzin od odebrania produktu.</li>
                          <li>W przypadku jednego zamówienia złożonego z wielu produktów, co do których występują różnice w sposobie
                            ich pakowania (w szczególności ze względu na duże gabaryty lub różnice w czasie realizacji zamówienia),
                            Sprzedawca może zamówienie na mniejsze przesyłki. W opisanej sytuacji koszt dostawy podany Klientowi
                            w podsumowaniu zamówienia nie zmienia się, ale zostaje rozdzielony na poszczególne przesyłki.
                            Jeśli anulowana zostanie część zamówienia, niezależnie od przyczyn, korekcie oraz zwrotowi podlegają
                            wyłącznie te koszty dostawy, które zostały przypisane do anulowanej części zamówienia.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapse5" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapse5" id="heading5" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">VI. Prawo do odstąpienia od umowy</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Klient, będący konsumentem, który zawarł umowę na odległość, może od niej odstąpić bez podania
                            przyczyny w terminie do 15 dni od dnia wydania rzeczy. Oświadczenie o odstąpieniu od umowy można
                            wysłać na adres siedziby Sprzedawcy (wskazany w tytule I pkt 1 niniejszego Regulaminu). Sprzedawca
                            umożliwia złożenie oświadczenia także drogą elektroniczną na adres e-mail:
                            <a href="mailto:serwis@phone-mania.pl">serwis@phone-mania.pl</a> Zaleca się również wypełnić formularz zgłoszenia RMA, dostępny na stronie
                            internetowej:
                            <a href="https://www.phone-mania.pl/serwis" target="_blank">www.phone-mania.pl/serwis</a>, co pozwoli na przydzielenie Klientowi indywidualnego numeru RMA
                            i szybszą identyfikację przesyłki.</li>
                          <li>Wykonanie prawa odstąpienia od umowy, zgodnie z ustawą z dnia 30 maja 2014 r. o prawach konsumenta,
                            możliwe jest także za pomocą formularza stanowiącego załącznik nr 1 do Regulaminu. Stosowny załącznik
                            dostępny jest na stronie internetowej:
                            <a href="https://www.phone-mania.pl/serwis" target="_blank">www.phone-mania.pl/serwis</a>.</li>
                          <li>Termin 15-sto dniowy liczy się od dnia wydania rzeczy, rozumianego jako objęcie rzeczy w posiadanie
                            przez konsumenta lub wskazaną przez konsumenta osobę, inną niż przewoźnik.</li>
                          <li>Prawo odstąpienia od umowy zawartej poza lokalem przedsiębiorstwa lub na odległość nie przysługuje
                            konsumentowi w odniesieniu do umów:
                            <ul>
                              <li>a) o świadczenie usług, jeżeli przedsiębiorca wykonał w pełni usługę za wyraźną zgodą konsumenta,
                                który został poinformowany przed rozpoczęciem świadczenia, że po spełnieniu świadczenia przez
                                przedsiębiorcę utraci prawo do odstąpienia od umowy;</li>
                              <li>b) w której przedmiotem świadczenia jest rzecz nieprefabrykowana, wyprodukowana według specyfikacji
                                konsumenta lub służąca zaspokojeniu jego indywidualnych potrzeb;</li>
                              <li>c) w której przedmiotem świadczenia są nagrania dźwiękowe, wizualne lub programy komputerowe,
                                dostarczane w zapieczętowanym opakowaniu, jeżeli opakowanie zostało otwarte po dostarczeniu;</li>
                              <li>d) zawartych w drodze aukcji publicznej;</li>
                              <li>e) o dostarczanie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie
                                świadczenia rozpoczęło się za wyraźną zgodą konsumenta przed upływem terminu odstąpienia
                                od umowy i po poinformowaniu go przez przedsiębiorcę o utracie prawa odstąpienia od umowy,</li>
                              <li>f) w której przedmiotem świadczenia jest rzecz dostarczana w zapieczętowanym opakowaniu, której
                                po otwarciu opakowania nie można zwrócić ze względu na ochronę zdrowia lub ze względów higienicznych,
                                jeżeli opakowanie zostało otwarte po dostarczeniu.</li>
                            </ul>
                          </li>
                          <li>Klient jest odpowiedzialny za zmniejszenie wartości rzeczy, będące wynikiem korzystania z niej
                            w sposób wykraczający poza konieczny dla stwierdzenia charakteru, cech i funkcjonowania rzeczy.</li>
                          <li>Większość produktów dostępnych w sklepie internetowym phone-mania.pl posiada folie ochronne na
                            elementach najbardziej podatnych na uszkodzenia. Z tego też względu zaleca się nie zdejmować
                            folii ochronnych z tych elementów przez 15 dni od doręczenia produktu.</li>
                          <li>Produkt należy odesłać niezwłocznie, w terminie do 14 dni po złożeniu oświadczenia o odstąpieniu
                            od umowy.</li>
                          <li>Klient dokonujący zakupu produktu głównego w zestawie z innym produktem zawiera umowę sprzedaży
                            w sposób kompleksowy i nie przewiduje się możliwości jej częściowego utrzymania w przypadku wykonania
                            przez Klienta prawa odstąpienia co do części tej umowy. Klient może odstąpić od umowy jedynie
                            w całości. W przypadku odstąpienia od umowy sprzedaży produktu zakupionego w zestawie z innym
                            produktem zwrotowi podlega cały zestaw. Odstąpienie przez Klienta od umowy sprzedaży powoduje
                            również odstąpienie od umów mających charakter dodatkowy wobec umowy sprzedaży (np. przedmioty
                            dołączone do głównego produktu za 1 grosz).</li>
                          <li>Klient ponosi koszty bezpośredniego odesłania (zwrotu) produktu do Sprzedawcy w związku odstąpieniem
                            od umowy bez podania przyczyny w terminie 15 dni od dnia wydania rzeczy.</li>
                          <li>Jeżeli Klient wybrał inny sposób dostarczenia rzeczy niż najtańszy, zwykły oferowany przez Sprzedawcę,
                            Sprzedawca nie jest zobowiązany do zwrotu konsumentowi poniesionych przez niego dodatkowych kosztów.</li>
                          <li>Uprawnienia i obowiązki określone w rozdziale VI pkt 1-10 Regulaminu przysługują wyłącznie Klientom
                            posiadającym status konsumenta, dokonującym zakupu produktów w drodze umowy zawartej na odległość
                            w rozumieniu art. 2 ust. 1 ustawy z dnia 30 maja 2014 r. o prawach konsumenta (Dz. U. 2014 r.,
                            poz. 827).</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div aria-controls="collapse6" aria-expanded="false" class="panel-heading collapsed" data-parent="#accordion" data-toggle="collapse"
                      href="#collapse6" id="heading6" role="button">
                      <div class="panel-heading-left">
                        <h4 class="panel-title">VII. Reklamacje</h4>
                      </div>
                      <div class="panel-heading-right">
                        <i class="material-icons ico-1 ico-open"></i>
                      </div>
                    </div>
                    <div aria-labelledby="heading6" class="panel-collapse collapse" id="collapse6" role="tabpanel" aria-expanded="false">
                      <div class="panel-body">
                        <ol start="1">
                          <li>Każdemu Klientowi, który zawarł umowę sprzedaży przysługuje prawo do reklamacji.</li>
                          <li>W przypadku wystąpienia usterki technicznej należy skontaktować się ze Sprzedawcą.</li>
                          <li>W celu identyfikacji i usprawnienia procedury reklamacyjnej, Klientowi, który reklamuje produkt
                            zakupiony w sklepie internetowym phone-mania.pl, zaleca się wypełnienie w ramach reklamacji elektronicznego
                            formularza ze strony
                            <a href="https://www.phone-mania.pl/serwis" target="_blank">www.phone-mania.pl/serwis</a>. Pozwoli to na przyspieszenie czasu rozpatrywania zgłoszenia. Po
                            wypełnieniu elektronicznego formularza, Klient otrzymuje zwrotny komunikat informujący o przyjęciu
                            zgłoszenia do rozpatrzenia przez Sprzedającego.</li>
                          <li>Po przyjęciu zgłoszenia reklamacyjnego przez Sprzedawcę, Klient otrzymuje wiadomość e-mail zawierającą
                            dalszą instrukcję postępowania reklamacyjnego oraz numer zgłoszenia serwisowego RMA.</li>
                          <li>Reklamowany produkt należy dostarczyć do siedziby Sprzedającego, będącej miejscem jego zakupu.
                            Przy zgłoszeniu serwisowym RMA zaleca się, aby wysyłkę produktu zrealizować po otrzymaniu powiadomienia
                            od sprzedawcy, zawierającego instrukcję dalszego postępowania.</li>
                          <li>W celu usprawnienia procedury reklamacyjnej Klientowi, który dokonuje reklamacji produktu zakupionego
                            i doręczonego za pośrednictwem Internetu zaleca się, by reklamowany produkt wysyłał bezpośrednio
                            na adres Sprzedającego: phone-mania sp. z o.o., ul. T. Rejtana 25/35, 42-202 Częstochowa.</li>
                          <li>Zaleca się, aby każdy Klient czytelnie oznaczył przesyłkę reklamacyjną ze szczególnym uwzględnieniem
                            oznaczenia przesyłki numerem zgłoszenia serwisowego RMA. Sprawny przebieg procedury reklamacyjnej,
                            a w szczególności odbiór przesyłki reklamacyjnej przez Sprzedawcę jest uzależniony od prawidłowego
                            i widocznego oznaczenia przesyłki numerem zgłoszenia serwisowego RMA. Jego brak uniemożliwia
                            identyfikację zgłoszenia reklamacyjnego i znacznie opóźnia rozpatrzenie sprawy.</li>
                          <li>Wygenerowany przez system numer zgłoszenia serwisowego RMA ważny jest tylko przez 7 dni od daty
                            jego przydzielenia. Wysyłka produktu reklamacyjnego po upływie wskazanego terminu może spowodować
                            utrudnienia i opóźnić rozpatrzenie sprawy reklamacyjnej.</li>
                          <li>Po rozpatrzeniu reklamacji Klient otrzymuje dokumentację przedstawiającą wynik ekspertyzy serwisowej.</li>
                          <li>Odbiór reklamowanego sprzętu następuje wyłącznie w miejscu i formie w jakiej produkt ten został
                            dostarczony do Sprzedającego.</li>
                          <li>Rewers potwierdzenia przyjęcia serwisowego wydawany Klientowi w salonie przy przyjmowaniu sprzętu
                            do serwisu Sprzedawcy jest jedynym dokumentem uprawniającym do odbioru sprzętu bez sprawdzania
                            danych odbierającego.</li>
                          <li>Reklamowany produkt należy odebrać w terminie 30 dni od otrzymania przez Klienta powiadomienia
                            o zakończeniu procedur serwisowych. Jeżeli sprzęt nie zostanie odebrany w ww. terminie Sprzedający
                            wezwie pisemnie Klienta do odbioru sprzętu w terminie 14 dni od daty doręczenia wezwania. Po
                            bezskutecznym upływie dodatkowego terminu Sprzedający jest uprawniony do naliczania opłat z tytułu
                            bezumownego przechowywania sprzętu. Opłata ta wynosi 5% aktualnie obowiązującej stawki za 1 m^2
                            powierzchni magazynowej w mieście siedziby sprzedającego naliczanej za każdy miesiąc przechowywania.</li>
                          <li>Większość produktów oferowanych przez Sprzedawcę jest objęta gwarancją producenta, importera lub
                            sprzedawcy. W przypadku wystawienia przez Gwaranta oświadczenia gwarancyjnego warunki udzielonej
                            gwarancji są określone w karcie gwarancyjnej. Powyższe postanowienie nie wyłącza, nie ogranicza,
                            ani nie zawiesza uprawnień konsumenta wynikających z ustawy z dnia 30 maja 2014 r. o prawach
                            konsumenta.</li>
                          <li>W przypadku sprzedaży produktu w obrocie między przedsiębiorcami na podstawie art. 558 § 1 ustawy
                            z dnia 23 kwietnia 1964 roku Kodeks cywilny, strony wyłączają odpowiedzialność Sprzedającego
                            z tytułu rękojmi za wady fizyczne i prawne rzeczy, w szczególności ustalają, iż nie ponosi on
                            żadnej odpowiedzialności także za wady ukryte przedmiotu sprzedaży.</li>
                          <li>Klient może skorzystać z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń,
                            w myśl ustawy z dnia 23 września 2016 roku o pozasądowym rozwiązywaniu sporów konsumenckich.
                            Klient będący konsumentem uprawniony jest do złożenia swojej skargi m.in. poprzez unijną platformę
                            internetową ODR dostępną pod adresem strony internetowej
                            <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&amp;lng=PL"
                              target="_blank">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&amp;lng=PL</a>. Klient,
                            będący konsumentem, może złożyć wniosek w sprawie pozasądowego rozwiązywania sporów konsumenckich
                            również za pośrednictwem Inspekcji Handlowej (
                            <a href="www.uokik.gov.pl/wazne_adresy.php#faq595"
                              target="_blank">www.uokik.gov.pl/wazne_adresy.php#faq595</a>).</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('close')">
                Zamknij
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style>
modal-mask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
