<template>
  <div class='container register-container'>
    ŁOLELELE
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  computed: {
    ...mapGetters([
      "refresh",
      "error", "success"
    ]),
  },
  methods: {
    ...mapActions({
      verifyUser: 'verifyUser'
    }),
    ...mapMutations(['REFRESH', 'PUSHRESPONSE']),
  },
  watch: {
    refresh() {
      this.$emit("changeResponseTitle", this.success);
    },
    error() {
      this.$emit("changeTitle", this.error.message);
    }
  },
  created() {
    this.verifyUser(this.$route.params.token);
  }
};
</script>

<style>
</style>
