<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania aparatu</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="name">Przedni aparat</label>
            <input type="text" data-pattern="^[0-9A-ZĄĘŹŻŁÓŁa-ząęźżół]{1,}$" @input="validField(camera.front,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj detale odnośnie przedniego aparatu" v-model="camera.front">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.front}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="name">Tylny aparat</label>
            <input type="text" data-pattern="^[0-9A-ZĄĘŹŻŁÓŁa-ząęźżół]{1,}$" @input="validField(camera.back,inputsNumber,1,$event)" :class="{'error': inputsNumber[1]===0, 'success': inputsNumber[1]===1}"
              class="form-control" placeholder="Podaj detale odnośnie tylniego aparatu" v-model="camera.back">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.back}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj aparat</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
  export default {
    data() {
      return {
        valid: false,
        errors: {
          front: "Podaj poprawną wartość dla przedniego aparatu!",
          back: "Podaj poprawną wartość dla tylniego aparatu!",
        },
        INVALID: INVALID,
        VALID: VALID,
        UNTESTED: UNTESTED
      };
    },
    computed: {
      ...mapGetters(["camera", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
    },
    missingText: function () {
      return true;
    },
    methods: {
      ...mapActions({
        addCamera: "storeCamera",
        updateCamera: "updateCamera",
        validFormField: "validFormField",
        prepareArray: "prepareArray",
        validateForm: 'validateForm'
      }),
      validField(name, inputsNumber, inputNumber, event) {
        this.validFormField([
          name,
          inputsNumber,
          inputNumber,
          event.target.attributes["data-pattern"].value
        ]);
      },
      checkFormBeforeSubmit() {
        this.validateForm();
        if (this.validationPassed === true)
          this.addCamera(this.camera);
      }
    },
    watch: {
      refresh() {
        this.$emit('changeResponseTitle', this.success);
        this.$router.push({
          name: 'cameras'
        });
      },
      error() {
        this.$emit('changeTitle', this.error.message);
      }
    },
    created() {
      this.prepareArray([2, UNTESTED]);
    }
  };
</script>

<style>
</style>

