<template>
  <div class="row">
    <div v-if="errorMessage!==''" class='response-row col-lg-12'>
      <p class='error-message'>{{errorMessage}}</p>
    </div>
    <div v-if="response!==''" class='response-row col-lg-12'>
      <p class='response-message'>{{response}}</p>
    </div>
    <div class='col-lg-12'>
      <transition name="fade">
        <div v-if="this.error!=''">
          <p class='error-message text-center' v-for="error in error.errors" :key="error">
            {{error[0]}}
          </p>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
 import { mapGetters, mapMutations, mapActions } from "vuex";
 import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
 export default {
   data() {
     return {
       eee: "TEST"
     }
   },
   computed: {
   },
   methods: {
     updateError(updatedError) {
       this.errorMessage = updatedError;
       setTimeout(function () {
         this.hideErrorMessage(this);
       }.bind(this), 2000);
     },
     updateResponse(response) {
       this.response = response;
       setTimeout(function () {
         this.hideResponseMessage(this);
       }.bind(this), 3000);
     },
     hideResponseMessage(self) {
       self.response = '';
     },
     hideErrorMessage(self) {
       alert("X");
       self.errorMessage = '';
       setTimeout(function () {
         this.clearErrors(false);
       }.bind(this), 6000);
     }
   },
   props: ['error', 'response', 'errorMessage']
 }
</script>

<style lang="scss">
@import "src/assets/scss/response";
</style>
