<template>
  <div class='container-footer'>
    <div class='row'>
      <div class='col-3'>
        <router-link class="header-link" to="about-us">O nas
          <span class="sr-only">(current)</span>
        </router-link>
      </div>
      <div class='col-3'>
        <router-link class="header-link" to="about-us">O nas
          <span class="sr-only">(current)</span>
        </router-link>
      </div>
      <div class='col-3'>
        <router-link class="header-link" to="about-us">O nas
          <span class="sr-only">(current)</span>
        </router-link>
      </div>
      <div class='col-3'>
        <router-link class="header-link" to="about-us">O nas
          <span class="sr-only">(current)</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
@import "src/assets/scss/footer";
</style>

