<template>
      <div id='nav-list' class='col-lg-2 col-md-12 text-md-center text-lg-left text-sm-center'>
        <ul class="row">
            <span class="header-title col-12">Producent</span>
            <li class="col-lg-12 col-md-4 col-6 col-sm-4 list-group-item text-left text-sm-center text-md-center text-lg-left" v-for="manufacturer in manufacturers" :key="manufacturer.id">
            <input @change="findProducts()" type="checkbox" :value="manufacturer.name" v-model="selectedManufacturers"> {{manufacturer.name}}
            </li>
        </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
export default {
  data() {
    return {
      selectedManufacturers: []
    }
  },
  computed: {
    ...mapGetters([
      "manufacturers"
    ])
  },
  watch: {
    refresh() {},
  },
  methods: {
        ...mapMutations({
      resetReady: "RESETREADY",
      ready1:"READY"
    }),
    ...mapActions({
      getManufacturers: 'manufacturers',
      searchProductsByManufacturers: 'searchProductsByManufacturers',
      ...mapMutations(['LOGGED', 'PUSHRESPONSE']),
    }),
    findProducts() {
        this.resetReady();
            setTimeout(function(){ this.ready1(); }.bind(this), 2000);
                setTimeout(function(){ this.searchProductsByManufacturers(this.selectedManufacturers); }.bind(this), 1500);

    }

  },
  created() {
    this.getManufacturers();
  },

};

</script>

<style lang="scss">
.list-group-item {
border:0;
}
</style>
