<template>
  <div :id="`tab-`+(index+1)" v-bind:class="selected == item ? 'current' :''" class="tab-content">
    <ul class="row" v-if="Array.isArray(model)">
    <router-link :key="index" v-for="(item, index) in model" :to="{name:item}" class="menu-link col-4 col-sm-3 col-md-3 col-lg-3">
                <img :src="menuImg" class="img-fluid list-icon">  {{item | upperCase}}
    </router-link>
    </ul>
    <ul class="row" v-else>
     <router-link :to="{name:model}"  class="menu-link col-4 col-sm-3 col-md-3 col-lg-3">
            <img :src="menuImg" class="img-fluid list-icon">{{model | upperCase}}
    </router-link>
    </ul>
  </div>
</template>
<script>
import image from '@/assets/list-icon.png';
export default {
      props: ['item','selected','index','model'],
    data(){
        return{
          menuImg:image
        }
    }
};
</script>
<style lang="scss" scoped>
.menu-link {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color:black;
}
.list-icon {
  position: absolute;
  left:0%;
  top:25%;
  width:1rem;
  height:1rem;
}
.denied {
  background-image: url("/src/assets/perm_denied.jpg");
}
</style>
