<template>
  <div class='users'>
    <table class='table table-dark'>
      <thead class="thead-light">
        <tr class="row">
          <th @click="sort('id',0)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">ID</span>
          </th>
          <th @click="sort('name',1)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Nazwa modelu</span>
          </th>
          <th @click="sort('count',2)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[2] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Sztuk</span>
          </th>
          <th @click="sort('display.width',3)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Typ wyświetlacza</span>
          </th>
          <th @click="sort('resolution.width',4)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[4] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Rozdzielczość</span>
          </th>
          <th @click="sort('processor.name',5)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[5] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Prosesor</span>
          </th>
          <th @click="sort('processor.gpu_name',6)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[6] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Układ graficzny</span>
          </th>
          <th @click="sort('ram.size',7)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[7] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Pamięć RAM</span>
          </th>
          <th @click="sort('memory.size',8)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[8] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Pamieć flash</span>
          </th>
          <th @click="sort('camera.front',9)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[9] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Aparat przód</span>
          </th>
          <th @click="sort('camera.back',10)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[10] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Aparat tył</span>
          </th>
          <th @click="sort('system.name',11)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[11] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">System</span>
          </th>
          <th @click="sort('battery.capacity',12)" scope="col" class="col-lg-4 col-md-4 col-sm-6 col-6">
            <span v-bind:class="this.order == 1 && this.orderIcons[12] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Bateria</span>
          </th>
          <th class="col-lg-4 col-md-4 col-sm-6 col-6" scope="col">
            Edytuj
          </th>
          <th class="col-lg-4 col-md-4 col-sm-6 col-6" scope="col">
            Usuń
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" v-for="smartphone in smartphones" :key="smartphone.id">
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.name }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.id }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.count }} szt. </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.display.name }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.resolution.width }} x {{ smartphone.resolution.height }} px </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.processor.name }} {{ smartphone.processor.threads_info }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.processor.gpu_name }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.ram.size }} GB</td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.memory.size }} GB</td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.camera.front }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.camera.back }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.system.name }} </td>
          <td scope="row" class="col-lg-4 col-md-4 col-sm-6 col-6">{{ smartphone.battery.capacity }} {{ smartphone.battery.type }} </td>
          <td class="col-lg-4 col-md-4 col-sm-6 col-6">
            <router-link :to="{path: `smartphones/${smartphone.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td class="col-lg-4 col-md-4 col-sm-6 col-6">
            <button class='btn btn-list btn-danger' @click="deleteSelectedSmartphone(smartphone.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    },
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["smartphones", "success", "refresh", "order", "orderIcons"]),
    pageCount() {
      let l = this.smartphones.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.smartphones.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadSmartphones: "smartphones",
      deleteSmartphone: "deleteSmartphone",
      sortList: "sortList",
      prepareOrderIcons: "prepareOrderIcons"
    }),
    deleteSelectedSmartphone(id) {
      this.deleteSmartphone(id);
    },
    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.smartphones]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadSmartphones();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.smartphones.reverse();
    }
  },
  created() {
    this.downloadSmartphones();
    this.prepareOrderIcons(13);
  }
};
</script>
 
<style>
</style>
 