<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz dodania baterii</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="capacity">Pojemność baterii</label>
            <input type="text" data-pattern="^[0-9]{4,5}$" @input="validField(battery.capacity,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj pojemność baterii" v-model="battery.capacity">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.capacity}}</span>
            </transition>
          </div>
        </div>
      </div>
            <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="type">Rodzaj baterii</label>
            <input type="text" data-pattern="^[A-Z]{1}[a-z]{3,}-[a-z]{3,}$" @input="validField(battery.type,inputsNumber,1,$event)" :class="{'error': inputsNumber[1]===0, 'success': inputsNumber[1]===1}"
              class="form-control" placeholder="Podaj rodzaj baterii" v-model="battery.type">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.type}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Dodaj baterię</button>
      </div>
    </form>
  </div>
</template>


<script>
import { mapGetters, mapActions } from "vuex";
import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
  export default {
  data() {
    return {
      valid: false,
      errors: {
        capacity: "Podaj poprawną pojemność dla baterii!",
        type: "Podaj poprawny typ dla baterii!",
      },

      INVALID: INVALID,
      VALID: VALID,
      UNTESTED: UNTESTED
    };
  },
  computed: {
    ...mapGetters(["battery", "refresh","error", "success", "inputsNumber",'validationPassed'])
  },
  missingText: function() {
    return true;
  },

  methods: {
    ...mapActions({
      downloadBattery: "battery",
      addBattery: "storeBattery",
      validFormField: "validFormField",
      prepareArray: "prepareArray",
      validateForm:'validateForm'
    }),
    validField(name, inputsNumber, inputNumber, event) {
      this.validFormField([
        name,
        inputsNumber,
        inputNumber,
        event.target.attributes["data-pattern"].value
      ]);
    },

    checkFormBeforeSubmit() {
      this.validateForm();
      if(this.validationPassed === true)
      this.addBattery(this.battery);
    }
  },
watch:{
    refresh() {
          this.$emit('changeResponseTitle',this.success);
          this.$router.push({name:'batteries'});
    },
    error() {
         this.$emit('changeTitle',this.error.message);
    }
},
  created() {
    this.prepareArray([2,UNTESTED]);
  }

  };

</script>

<style>
</style>
