<template>
  <div class='container register-container'>
    <transition name="fade">
      <div v-if="this.error!=''">
        <p class='error-message text-center' v-for="error in error.errors" :key="error">
          {{error[0]}}
        </p>
      </div>
    </transition>
    <form class='register-form' v-bind="valid" method="post" @submit.prevent="checkFormBeforeSubmit()">
      <div class='col-lg-12 text-center'>
        <span class='header-title'>Formularz edycji rozdzielczości</span>
      </div>
      <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="width">Szerokość</label>
            <input type="text" data-pattern="^[0-9]{3,5}$" @input="validField(resolution.width,inputsNumber,0,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj poprawną wartość dla szerokości (piksele - px)" v-model="resolution.width">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[0]===this.INVALID || this.inputsNumber[0]===this.UNTESTED">{{errors.width}}</span>
            </transition>
          </div>
        </div>
      </div>
            <div class='row justify-content-center'>
        <div class='col-lg-8'>
          <div class="form-group">
            <label for="height">Wysokość</label>
            <input type="text" data-pattern="^[0-9]{3,5}$" @input="validField(resolution.height,inputsNumber,1,$event)" :class="{'error': inputsNumber[0]===0, 'success': inputsNumber[0]===1}"
              class="form-control" placeholder="Podaj poprawną wartość dla wysokości (piksele - px)" v-model="resolution.height">
            <transition name="fade">
              <span class='error-message' v-if="this.inputsNumber[1]===this.INVALID || this.inputsNumber[1]===this.UNTESTED">{{errors.height}}</span>
            </transition>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-list">Edytuj rozdzielczość</button>
      </div>
    </form>
  </div>
</template>

<script>
 import { mapGetters, mapMutations, mapActions } from "vuex";
 import { VALID, UNTESTED, INVALID } from "@/store/modules/const_types";
 export default {
   data() {
     return {
       valid: false,
       errors: {
         height: "Podaj poprawną wysokość!",
         width: "Podaj poprawną szerokość!"
       },

       INVALID: INVALID,
       VALID: VALID,
       UNTESTED: UNTESTED
     };
   },
   computed: {
     ...mapGetters(["resolution", "refresh", "error", "success", "inputsNumber", 'validationPassed'])
   },
   methods: {
     ...mapMutations(["RESOLUTION", 'PUSHRESPONSE']),
     ...mapActions({
       getResolution: "resolution",
       validFormField: "validFormField",
       prepareArray: "prepareArray",
       validateForm: 'validateForm',
       downloadResolutions: 'resolutions',
       updateResolution: 'updateResolution'
     }),
     checkFormBeforeSubmit() {
       this.validateForm();
       if (this.validationPassed === true)
         this.updateResolution(this.resolution);
       else
         alert("Błąd");
     },
     validField(name, inputsNumber, inputNumber, event) {
       this.validFormField([
         name,
         inputsNumber,
         inputNumber,
         event.target.attributes["data-pattern"].value
       ]);
     },
   },
   watch: {
     refresh() {
       this.$emit('changeResponseTitle', this.success);
       this.$router.push({
         name: 'resolutions'
       });
     },
     error() {
       this.$emit('changeTitle', this.error.message);
     }
   },
   created() {
     this.prepareArray([2, VALID]);
     this.getResolution(this.$route.params.id);
     this.resolution;
   },
 }
</script>
 
<style>
</style>
 