<template>
  <div class='users'>
    <table class='table table-dark'>
      <thead class="thead-light">
        <tr class="row">
          <th @click="sort('id',0)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[0] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">ID</span>
          </th>
          <th @click="sort('product.name',1)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[1] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Produkt</span>
          </th>
          <th @click="sort('user.last_name',2)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[2] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Użytkownik</span>
          </th>
          <th @click="sort('comment',3)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[3] ?  'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Komentarz</span>
          </th>
          <th @click="sort('created_at',4)" scope="col" class="col-lg-2 col-md-3 col-sm-4 col-4">
            <span v-bind:class="this.order == 1 && this.orderIcons[4] ? 'glyphicon glyphicon-sort-by-alphabet' : 'glyphicon glyphicon-sort-by-alphabet-alt'">Utworzono</span>
          </th>
          <th scope="col" class="col-lg-1 col-md-3 col-sm-4 col-4">
            Edytuj
          </th>
          <th scope="col" class="col-lg-1 col-md-3 col-sm-4 col-4">
            Usuń
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='row' v-for="comment in paginatedData" :key="comment.id">
          <td scope class="col-lg-2 col-md-3 col-sm-4 col-4">{{ comment.id }} </td>
          <td scope class="col-lg-2 col-md-3 col-sm-4 col-4">{{ comment.comment }} </td>
          <td scope class="col-lg-2 col-md-3 col-sm-4 col-4">{{ comment.product.manufacturer.name }} {{ comment.product.name }} </td>
          <td scope class="col-lg-2 col-md-3 col-sm-4 col-4">{{ comment.user.first_name }} {{comment.user.last_name}}
          </td>
          <td scope class="col-lg-2 col-md-3 col-sm-4 col-4">{{ comment.created_at }} </td>
          <td class="col-lg-1 col-md-3 col-sm-4 col-4">
            <router-link :to="{path: `comments/${comment.id}/edit`}">
              <button id="myButton" class='btn btn-secondary btn-list'>Edytuj</button>
            </router-link>
          </td>
          <td class="col-lg-1 col-md-3 col-sm-4 col-4">
            <button class='btn btn-list btn-danger' @click="deleteSelectedComment(comment.id)">Usuń</button>
          </td>
        </tr>
      </tbody>
      <div :key="pageNumber" id="pagination-container-list">
        <button :disabled="pageNumber==0" :class="{'btn-disabled' : pageNumber == 0}" @click="prevPage">
          <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </button>
        <b>{{pageNumber+1}} .. {{pageCount+1}} </b>
        <button :disabled="pageNumber > pageCount -1" :class="{'btn-disabled' : pageNumber == pageCount}" @click="nextPage">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button>
      </div>
    </table>
  </div>
</template>

 <script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  props: {
    size: {
      type: Number,
      required: false,
      default: 4
    }
  },
  data() {
    return {
      pageNumber: 0
    };
  },
  computed: {
    ...mapGetters(["comments", "success", "refresh", "order", "orderIcons"]),
    pageCount() {
      let l = this.comments.length,
        s = this.size;
      return Math.floor(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.comments.slice(start, end);
    }
  },
  methods: {
    ...mapMutations({
      setOrder: "ORDER"
    }),
    ...mapActions({
      downloadComments: "comments",
      deleteComment: "deleteComment",
      sortList: "sortList",
      prepareOrderIcons: "prepareOrderIcons"
    }),
    deleteSelectedComment(id) {
      this.deleteComment(id);
    },
    sort(selectedValue, selectedColumnIndex) {
      this.sortList([selectedValue, this.comments]);
      this.setOrder(selectedColumnIndex);
    },
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  watch: {
    refresh() {
      this.downloadComments();
      this.$emit("changeResponseTitle", this.success);
    },
    order() {
      this.comments.reverse();
    }
  },
  created() {
    this.downloadComments();
    this.prepareOrderIcons(5);
  }
};
</script>
 
<style>
</style>
 