<template>
  <div id="app">
    <nav-header/>
    <transition name="fade" mode="out-in">
    <div v-if="logged && user.role==='administrator'">
          <nav-second-panel/>
    </div>
    </transition>
    <div class='container-fluid'>
      <div class='error-container row'>
        <transition name="fade" mode="out-in">
          <div v-if="errorMessage!==''" class='response-row'>
            <p class='error-message  col-12'>{{errorMessage}}</p>
          </div>
          <div v-if="response!==''" class='response-row'>
            <p class='response-message  col-12'>{{response}}</p>
          </div>
        </transition>
      </div>
<button @click="scrollUp()"><img :src="image" class="img-fluid scrollup"></button>      
<transition name="fade" mode="out-in">
        <router-view @changeTitle="updateError($event)" @changeResponseTitle="updateResponse($event)" />
      </transition>
    </div>
    <footer2/>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import NavHeader from "./components/partial/NavHeader";
import NavSecondPanel from "./components/partial/NavSecondPanel";
import Footer2 from "./components/partial/Footer";
import Image from '@/assets/icon_top.png';
export default {
  name: "App",
  components: {
    NavHeader,
    NavSecondPanel,
    Footer2,
    
  },
  data() {
    return {
      errorMessage: "",
      response: "",
      image:Image,
      
    };
  },
  computed: {
    ...mapGetters(["getUsers", "logged", "user", "error", "success"])
  },
    created() {

  },
  methods: {
    ...mapActions({
      clearErrors: 'clearErrors',
      clearResponse: 'clearResponse'
    }),
    updateError(updatedError) {
      this.errorMessage = updatedError;
      setTimeout(function () {
        this.hideErrorMessage(this);
      }.bind(this), 2000);
    },
    updateResponse(response) {
      this.response = response;
      setTimeout(function () {
        this.hideResponseMessage(this);
      }.bind(this), 3000);
    },
    hideResponseMessage(self) {
      self.response = '';
    },
    hideErrorMessage(self) {
      self.errorMessage = '';
      setTimeout(function () {
        this.clearErrors(false);
      }.bind(this), 6000);
    },
    scrollUp() {
      
       window.scrollTo(0,0);
    }
  },
};
</script>

<style lang="scss">
@import "src/assets/scss/body";
@import "src/assets/scss/variables";
@import "src/assets/scss/forms";
@import "src/assets/scss/response";
.animate {
  transition-delay: .1s;
  transition-duration: .25s;
  transition-timing-function: ease-in;
}
 
.slide-up {
  transform: translateY(0)
}
 
.slide-up.animate-active {
  transform: translateY(-100px)
}
.scrollup {
  width: 48px;
  height: 48px;
  z-index:999;
  opacity: 0.5;
  position: fixed;
  bottom: 10rem;;
  right: 1rem;
  text-indent: -9999px;
  background: url('/src/assets/icon_top.png') no-repeat;
  -webkit-transition: all 0.2s ease-out;
}

.pagination-arrows {
min-width: 100px;
margin-left:auto;
}

.table {
  margin-bottom: 0;
}

.glyphicon-circle-arrow-left , 
.glyphicon-circle-arrow-right {
color:white;
padding-left:.5rem;
padding-right:.5rem;
}

#pagination-container-list {
  padding:.25rem;
  font-weight: normal;
  width: 100%;
  background-color: #212529;

  b {
    color: white;
  }

  button {
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid {
  margin-bottom:10rem;;

}

.btn-remove {
  font-size: 13pt;
  margin-right: 2rem;
  float: right;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 22px;
}

.btn-list {
  border-radius: 0;
  font-size: 15px;
  min-height: 4rem;
  min-width: 7rem;
}

</style>
