<template>
<div class="container-fluid">
  <div class="row text-center">
    <div class="offset-4 col-4">
      <img :src="image" class="img-fluid denied">
      <div class="col-12">
        <router-link class="denied-header" :to="{name:'products'}">Kliknij tutaj, aby powrócić na stronę główną</router-link>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import denied from '@/assets/perm_denied.jpg';
export default {
    data(){
        return{
    image:denied
        }
    }

}
</script>

<style>
.denied {
  background-image: url("/src/assets/perm_denied.jpg");
}

.denied-header {
  font-size: 22px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.denied-header:hover {
  color: white;
  text-shadow: 1px 1px black;
}
</style>
